@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

.g-a{
    text-decoration: none;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.g-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.g-p{
    color: black;
    font-size: 1.4rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}
.brand{
    text-align: center;
}
.brand h1{
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    transition: .3s;
}

/* Sección Menu */
#Menu{
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100vw;
    height: auto;
}
#Menu .Menu{
    min-height: 135px;
    max-height: 80px;
    background: linear-gradient(315deg, #5ea5af, #0d8e95);
    background: linear-gradient(19deg, #246473, #3e91a5d9);
    transition: .5s ease background-color;
}
#Menu .Menu .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 60px;
    transition: .3s ease;
}

#Menu .Menu .flex-dir{
    display: inherit;
    align-items: center;
    flex-direction: row-reverse;
}

#Menu .Menu .brand a{
    cursor: pointer;
}
#Menu .Menu #marker{
    position: absolute;
    left: 0;
    width: 0;
    height: 4px;
    bottom: 15px;
    transition: .5s;
    border-radius: 4px;
}
#Menu .Menu .nav-list #menu_list{
    list-style-type: none;
    position: absolute;
    background-color: #29323c;
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    -webkit-flex-direction: column;
    justify-content: center;
    -webkit-align-items: center;
    z-index: 1;
    -webkit-transition: .8s ease left;
}
#Menu .Menu .arrow-dropdown{
    vertical-align: -4px;
    transition: .4s ease transform;
}
#Menu .Menu .arrow-dropdown.active{
    -ms-transform: rotate(180deg); /* IE 9 */
    transform: rotate(180deg);
}
#Menu .Menu .nav-list #menu_list.active{
    left: 30%;
}
#Menu .Menu .nav-list #menu_list a{
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .05rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
    cursor: pointer;
    user-select: none;
    transition: .3s ease;
}

#Menu .Menu .nav-list #menu_list li:hover a::after{
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: .1rem;
}
#Menu .Menu .nav-list #menu_list li a:hover{
    color: #1e515c;
}
#Menu .Menu .nav-list #menu_list li{
    position: relative;
}
/* =================================================== */

#Menu .Menu .sub-menu-dr{
    width: 22rem;
    display: grid;
    position: absolute;
    background-color: #29323c;
    z-index: 1001;
    top: 13rem;
    opacity: 0;
    visibility: hidden;
    transition: all 650ms ease;
}

#Menu .Menu .sub-menu-dr::before{
    content: '';
    position: absolute;
    top: -2.5rem;
    left: 3rem;
    border: 1.2rem solid transparent;
}

#Menu .Menu .sub-menu-dr .sub-menu-dr::before{
    top: .9rem;
    left: -2.5rem;
    border: 1.2rem solid transparent;
}

#Menu .Menu .sub-menu-dr .sub-menu-dr{
    border-top: none;
    top: 0;
    left: 60%;
}

#menu_list li:hover > .sub-menu-dr{
    top: 6rem;
    opacity: 1;
    visibility: visible;
}

.sub-menu-dr #li-drop:hover .sub-menu-dr{
    top: 0;
    left: 100%;
}

#Menu .Menu .user{
    display: flex;
    align-items: center;
    cursor: pointer;
}

/* Lista del Menu */

.side-bar{
    width: 30%;
    height: 100%;
    /* background: rgba(29, 31, 58, 1); */
    background: #29323c;
    position: fixed;
    top: 0;
    left: -30%;
    transition: 1s ease left;
    z-index: 9999;
}
.side-bar.active{
    left: 0;
}

.search-icon{
    width: 30px;
    display: block;
    margin: 10px auto 0;
    filter: invert(100%);
    opacity: .6;
}

ion-icon{
    font-size: 64px;
}

.menu-list{
    width: 40px;
    position: absolute;
    left: 50%;
    bottom: 45%;
    transform: translateX(-50%);
    filter: invert(100%);
    cursor: pointer;
}

.menu-list #menu_list li{
    padding-bottom: 50px;
    list-style: none;
    /*opacity: 0;*/
}

.menu-list #menu_list li a{
    height: 15px;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: .3s ease;
}

.menu-list #menu_list li a:hover{
    color: #1e515c;
}

.go-home{
    width: 40px;
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    filter: invert(100%);
    cursor: pointer;
    user-select: none;
}

.media1200px-device{
    display: none !important;
}

/* Lista del Menu */

/* Social items */

.phone_distrb{
    display: flex;
}

.social_items ul li{
    list-style: none;
}

.notifications{
    cursor: pointer;
    user-select: none;
}

.messages{
    padding: 0 45px;
    cursor: pointer;
    transition: .3s;
    user-select: none;
}

.social_items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#notification_item{
    width: 50px;
    transition: .8s;
}

#has_notifications{
    position: absolute;
    background: #f1564b;
    top: 23px;
    margin-left: -15px;
    padding: 6px;
    border-radius: 50%;
}

/* ============================ */
/* Incio de notificaciones */

.notification-box{
    width: 300px;
    height: 0px;
    max-height: 510px;
    opacity: 0;
    pointer-events: none;
    background-color: white;
    /* visibility: hidden; */
    position: absolute;
    top: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s opacity, 250ms height, .3s margin, .3s width;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ============================ */

.notification-box::-webkit-scrollbar{
    width: 10px;
}

.notification-box::-webkit-scrollbar-track{
    border: 1px solid #eee;
    box-shadow: inset 0 0 1.5px 1px rgba(0, 0, 0, 0.5);
}

/* ============================ */

.notification-box h2{
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999;
}

.notification-box h2 span{
    color: rgb(250, 81, 81);
    padding-left: 3px;
}

.notification-box h2 span:nth-child(2){
    color: rgb(0, 0, 0);
    padding-right: 5px;
    float: right;
    cursor: pointer;
    transition: .5s;
}

.notification-box h2 span:nth-child(2):hover{
    color: rgb(250, 81, 81);
}

.notification-item{
    display: flex;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 15px 5px;
    padding-right: 8px;
    /* margin-bottom: 15px; */
    cursor: pointer;
    transition: .5s;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.new-notification-item{
    display: flex;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 15px 5px;
    padding-right: 8px;
    /* margin-bottom: 15px; */
    cursor: pointer;
    transition: .5s;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transform: translateY(-150px);
    animation: ease .5s appear forwards;
}

@keyframes appear{
    100%{
        transform: translateY(0);
    }
}

.notification-item:hover,
.new-notification-item:hover{
    background-color: #eee;
}

.notification-item img,
.new-notification-item img{
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.notification-item .text,
.new-notification-item .text{
    padding-left: 3px;
}

.notification-item .text h4,
.new-notification-item .text h4{
    color: #777;
    font-size: 15px;
    margin-bottom: 6px;
    font-weight: 600;
}

.notification-item .text span,
.new-notification-item .text span{
    font-size: inherit;
    color: rgb(7, 172, 175);
}

.notification-item .text p,
.new-notification-item .text p{
    position: relative;
    bottom: -3px;
    color: rgb(172, 172, 154);
    font-size: 12px;
}

/* Fin de notificaciones */
/* ============================ */

/* ============================ */
/* Inicio de mensajes */

.message-box{
    width: 300px;
    height: 0px;
    max-height: 510px;
    opacity: 0;
    pointer-events: none;
    background-color: white;
    /* visibility: hidden; */
    position: absolute;
    top: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1s opacity, 250ms height;
    overflow-x: hidden;
    overflow-y: auto;
}

/* ============================ */

.message-box::-webkit-scrollbar{
    width: 10px;
}

.message-box::-webkit-scrollbar-track{
    border: 1px solid #eee;
    box-shadow: inset 0 0 1.5px 1px rgba(0, 0, 0, 0.5);
}

/* ============================ */

.message-box h2{
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999;
}

.message-box h2 span{
    color: rgb(250, 81, 81);
    padding-left: 3px;
}

.message-box h2 span:nth-child(2){
    color: rgb(0, 0, 0);
    padding-right: 5px;
    float: right;
    cursor: pointer;
    transition: .5s;
}

.message-box h2 span:nth-child(2):hover{
    color: rgb(250, 81, 81);
}

.message-item{
    display: flex;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 15px 5px;
    /* margin-bottom: 15px; */
    padding-right: 12px;
    cursor: pointer;
    transition: .5s;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.message-item:hover{
    background-color: #eee;
}

.message-item img{
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.message-item .text{
    padding-left: 3px;
}

.message-item .text h4{
    color: #777;
    font-size: 16px;
    margin-bottom: 6px;
}

.message-item .text p{
    color: rgb(82, 82, 82);
    font-size: 14px;
}

/* Fin de mensajes */
/* ============================ */

#message_item{
    width: 45px;
    transition: 1s;
}

#message_item:hover{
    filter: hue-rotate(150deg);
}

/* Social items */

/* Sección Menu */

/*Arrow Down*/

.arrow{
	width: 100%;
	display: flex;
	position: absolute;
    bottom: 0;
    opacity: 0;
}

.arrow-black{
    width: 100%;
	display: flex;
    position: relative;
    bottom: 50px;
}
.arrow img,
.arrow-black img{
	margin: auto;
	width: 35px;
	padding-bottom: 3vh;
	animation-name: salto;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	cursor: pointer;
}

@keyframes salto{
	0%,100%,20%,50%,80%{
		transform:translateY(0);
	}40%{
		transform:translateY(5px);
	}60%{
		transform:translateY(3px);
	}
}

/*Arrow Down*/

/* Footer */
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
}
#footer h2{
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 15px 15px 0 0;
}
#footer .social-item img{
    filter: grayscale(1);
    transition: .3s ease filter;
}
#footer .social-item:hover img{
    filter: grayscale(0);
}
#footer p{
    color: white;
    font-size: 1.3rem;
}
/* Footer */

/* Sub Menu */
@keyframes menuFade{
	from{
		opacity: 0;
		transform: translateX(100px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}
/* Sub Menu */
/* Animación */

@media screen and (min-width: 1200px){
    #Menu .Menu .nav-list #menu_list{
        width: auto;
    }
}

/* Media Query para Escritorio */
@media only screen and (min-width: 1201px){
    .brand h1{
        font-size: 2.5rem;
        text-transform: uppercase;
        color: white;
    }
    /* Sección Hero */
    .cta{
        font-size: 2.5rem;
        padding: 20px 60px;
    }
    h1.section-title{
        font-size: 6rem;
    }
    /* Sección Hero */
    /* Sección Menu */
    #Menu .Menu .hamburger{
        display: none;
    }

    #Menu .Menu .nav-list #menu_list{
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #Menu .Menu .nav-list #menu_list li{
        display: inline-block;
    }

    #Menu .Menu .nav-list #menu_list a{
        font-size: 1rem;
        font-weight: 600;
    }
    #Menu .Menu .nav-list #menu_list li a{
        transition: .3s ease all;
    }
    #Menu .Menu .nav-list #menu_list a::after{
        display: none;
    }

    .side-bar{
        display: none;
    }
    /* Sección Menu */
}
/* Pantallas pequeñas */
@media screen and (min-width: 1311px) and (max-width: 1545px){
    #Menu .Menu .nav-list #menu_list a{
        padding: 20px 15px;
        font-size: 1.2rem;
    }
}
/* Pantallas pequeñas */
@media screen and (min-width: 1231px) and (max-width: 1360px){
    #Menu .Menu .nav-list #menu_list a{
        padding: 20px 15px;
        font-size: 1.0rem;
    }
}
/* Pantallas pequeñas */
@media screen and (min-width: 1201px) and (max-width: 1230px){
    #Menu .Menu .nav-list #menu_list a{
        padding: 20px 15px;
        font-size: 0.9rem;
    }
}
/* Media Query para Escritorio */